* {
	box-sizing: border-box;
}

html, body {
    padding:0;
    margin:0;
}

body {
	color: #000;
	font-size: 1em;
	font-family: 'Source Serif Pro', 'Helvetica Neue', serif;
}

h1,
h2,
h3 {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

.header {
	padding: 8.5em 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.footer,
.header-intro,
.header-name {
	text-align: center;
}

.header-intro {
	margin-bottom: 0em;
	color: #000;
	font-size: 2.25em;
	text-shadow: 0px 1px 0px #404040;
}

.header-name {
	margin-top: -0.2em;
	color: #000;
	font-size: 6.0em;
	text-shadow: 0px 3px 0px #404040;
	font-weight: 700;
}

.about,
.passion,
.contact {
	max-width: 37.5em;
	margin: 0 auto;
	margin-top: 3em;
	line-height: 1.5em;
}

.passion h3 {
	color: #000;
}

.footer {
	padding: 4em 0;
	color: #000;
	background: #fff;
	margin-top: 3em;
}fff

.footer p {
	text-align: center;
}

.social {
	text-align: center;
  margin-left: -2em;
}

.social > li {
	list-style: none;
	display: inline-block;
	margin: 0 1.0em;
}
